{% extends 'base.html' %} 
{% load static %} {% block title %}Recommended Websites{% endblock %}
 {% block content %} {% include 'navbar.html' %}


  <div class="container mt-5">
    <!-- <h2>Recommended Websites</h2> -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Website</th>
          <th>Description</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
        {% for website in recommended_websites %}
          <tr>
            <td>{{ website.name }}</td>
            <td>{{ website.description }}</td>
            <td><a href="{{ website.url }}" target="_blank" class="btn btn-danger">View</a></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">No recommended websites found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% comment %}{% include 'footer.html' %} {% endcomment %}
{% endblock %}
